@page "/person/{personnummer}"
@inject IDataLesService dataLesService

<PageTitle>UDI kodetest 2025 - @title</PageTitle>

<h3 class="page-head"><i class="bi bi-person"></i> @title</h3>

@if (person == null)
{
    <LoadingPartial />
}
else
{
    <PersondataPartial Person="@person" Title="" IsCaseView="false" />

    <SakslistePartial Saker="person.Saker" IsPersonView="true" />
}

@code {
    [Parameter]
    public required string Personnummer { get; set; }

    private PersonDto? person;
    private string? title;

    protected override async Task OnInitializedAsync()
    {
        person = await dataLesService.HentPersonMedPersonnummer(Personnummer);
        title = person != null ? person.FulltNavn : "Henter person ...";
    }
}
