@page "/personer"
@inject IDataLesService dataLesService
@inject NavigationManager nav

<PageTitle>UDI kodetest 2025 - Personer</PageTitle>

<h3 class="page-head"><i class="bi bi-person"></i> Personer</h3>

@if (personer == null)
{
    <LoadingPartial />
}
else
{
    <div class="row py-1 list-head">
        <div class="col-3">Navn</div>
        <div class="col">Personnummer</div>
        <div class="col">Mobilnummer</div>
        <div class="col-3">E-postadresse</div>
    </div>

    @foreach (var person in personer)
    {
        <div class="row py-1 list-row" @onclick="(() => NavigateToPersondetaljer(person.Personnummer))">
            <div class="col-3">@person.FulltNavn</div>
            <div class="col">@person.Personnummer</div>
            <div class="col">@person.Mobilnummer</div>
            <div class="col-3">@person.Epost</div>
        </div>
    }
}

@code {
    private List<PersonDto>? personer;

    protected override async Task OnInitializedAsync()
    {
        personer = await dataLesService.HentAllePersoner();
    }

    private void NavigateToPersondetaljer(string personnummer)
    {
        nav.NavigateTo($"person/{personnummer}");
    }
}
