@page "/saker/{personnummer?}"
@inject IDataLesService dataLesService

<PageTitle>UDI kodetest 2025 - Saker</PageTitle>

<h3 class="page-head"><i class="bi bi-paperclip"></i> Saker</h3>

@if (saker == null)
{
    <LoadingPartial />
}
else
{
    <SakslistePartial Saker="saker" IsPersonView="false" />
}

@code {
    [Parameter]
    public string? Personnummer { get; set; }

    private List<SakDto>? saker;

    protected override async Task OnInitializedAsync()
    {
        saker = string.IsNullOrEmpty(Personnummer)
            ? await dataLesService.HentAlleSaker()
            : await dataLesService.HentSakerMedSoekersPersonnummer(Personnummer);
    }
}
