<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UDI_Januar2025</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-123" style="font-size:larger;" aria-hidden="true"></i> Nøkkeltall
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="saker">
                <i class="bi bi-paperclip" style="font-size:larger;" aria-hidden="true"></i> Saker
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personer">
                <i class="bi bi-person" style="font-size:larger;" aria-hidden="true"></i> Personer
            </NavLink>
        </div>

        <hr />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import">
                <i class="bi bi-database-add" style="font-size:larger;" aria-hidden="true"></i> Importer data
            </NavLink>
        </div>

    </nav>
</div>

